body {
	background-color: dimgray;
}

#banner {
	background-image: url(rsc/banner.jpg);
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 12rem;
}

#banner-text {
	text-align: center;
	font-size: 50;
}